# Python
__pycache__/
*.py[cod]
.python-version
.venv/
venv/
dev_guide/
tests/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# Build
dist/
build/
*.egg-info/

# Tableau
*.hyper
*.twb 
*.log
hyper.log
*.log

#cursor
.cursorrules

# Generated data files
data/hyper/
